logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

node_modules
.pnp
.pnp.js
.pnp.cjs

dist
.tsbuildinfo

.idea
.vscode

.git
.gitignore

.dockerignore
Dockerfile

.env
.env.*

tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

data/**
